<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="/styles.css"> <!-- Varsayılan stil dosyanız -->
</head>
<body>
  <h1>Profile</h1>
  
  <div class="profile">
    <img src="/images/<%= user.profilePicture %>" alt="Profile Picture">
    <h2><%= user.firstName %> <%= user.lastName %></h2>
    <p><strong>Email:</strong> <%= user.email %></p>
    <p><strong>Bio:</strong> <%= user.bio %></p>
    <p><strong>Phone:</strong> <%= user.phone %></p>
    <p><strong>Address:</strong>  <%= user.address.city %>,  <%= user.address.country %></p>
    
    <h3>Education</h3>
    <p><strong>University:</strong> <%= user.institution %></p>
    <p><strong>Degree:</strong> <%= user.degree %></p>
    <p><strong>Are You Student?</strong> <%= user.fieldOfStudy %></p>
    <p><strong>Start Year-End Year:</strong> <%= user.startYear %>, <%= user.endYear %></p>
  
    
    <h3>Work Experience</h3>
    <ul>
      <% user.workExperience.forEach(function(work) { %>
        <li><strong><%= work.company %></strong>: <%= work.position %> (<%= work.startDate.toDateString() %> - <%= work.endDate ? work.endDate.toDateString() : 'Present' %>)<br><%= work.description %></li>
      <% }); %>
    </ul>
    
    <h3>Skills</h3>
    <ul>
      <% user.skills.forEach(function(skill) { %>
        <li><%= skill %></li>
      <% }); %>
    </ul>
    
    <h3>Languages</h3>
    <ul>
      <% user.languages.forEach(function(language) { %>
        <li><%= language.language %> - <%= language.proficiency %></li>
      <% }); %>
    </ul>
    
    <h3>Certifications</h3>
    <ul>
      <% user.certifications.forEach(function(cert) { %>
        <li><strong><%= cert.name %></strong>, issued by <%= cert.issuingOrganization %> on <%= cert.date.toDateString() %></li>
      <% }); %>
    </ul>
    
    <h3>Current Job</h3>
    <p><strong>Company:</strong> <%= user.currentJob.company %></p>
    <p><strong>Position:</strong> <%= user.currentJob.position %></p>
    
    <p><strong>Graduated:</strong> <%= user.graduated ? 'Yes' : 'No' %></p>
    <p><strong>Currently Working:</strong> <%= user.currentlyWorking ? 'Yes' : 'No' %></p>
    
    <a href="/updateprofile">Update Profile</a>
  </div>
</body>
</html>
