<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="styles/copmaniesss.css" />
  <link rel="stylesheet" type="text/css" href="styles/login.css" />
</head>
<body>
  <div id="profile" class="dropdown">
    <button class="dropbtn"><%= userName %></button>
    <div class="dropdown-content">
      <a href="/profile">Profile</a>
      <a href="/home">Home</a>
      <a href="/uni">University</a>
      <a href="/companies">Companies</a>
      <form id="logout-form" action="/logout" method="post" style="display: inline;">
        <button id="logout-formb" type="submit">Logout</button>
      </form>
    </div>
  </div>

  <div class="profile">
    <h2><%= user.firstName %> <%= user.lastName %></h2>
    <p><strong>Email:</strong> <%= user.email %></p>

    <h3>Education</h3>
    <p><strong>University:</strong> <%= user.education.institution %></p>
    <p><strong>Faculty:</strong> <%= user.education.faculty %></p>
    <div>
      <strong>Are you Student?</strong> <%= user.education.status === 'student' ? 'Student' : 'Alumni' %>
    </div>
    <div>
      <strong>Profile Link:</strong> <a href="<%= user.profileLink %>" target="_blank"><%= user.profileLink %></a>
    </div>
    <div>
      <strong>Interested in Becoming a Mentor:</strong> <%= user.mentorInterest ? 'Yes' : 'No' %>
    </div>
    <h3>Current Job</h3>
    <p><strong>Company:</strong> <%= user.currentJob.company %></p>
    <p><strong>Position:</strong> <%= user.currentJob.position %></p>

    <a href="/updateprofile">Update Profile</a>
  </div>
  <script src="js/home.js"></script>
</body>
</html>